PORT=3000
DB_HOST=IP_PRIVADA_O_DNS_DE_POSTGRESQL
DB_PORT=5432
DB_NAME=cruzazul
DB_USER=postgres
DB_PASSWORD=CAMBIAR_PASSWORD
DB_SSL=false
JWT_SECRET=CAMBIAR_SECRETO_JWT
ADMIN_USER=admin
ADMIN_PASS=CAMBIAR_PASSWORD_ADMIN
MFA_SECRET=CAMBIAR_SECRETO_BASE32
